*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}
.maincontainer{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.maincontainer h1{
    margin-bottom: 25px;
    font-size: 3vw;
    letter-spacing:10px;
}
.main-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.main-area .first,.second,.thired,.fourth,.fifth{
    display: flex;
    justify-content: space-between;
    align-items: center;gap: 10px;
}

.main-area #pass-area{
    height: 3vw;
    font-size: medium;
    padding-left: 10px;
    outline: none;
    border-radius: 10px;
    color: #fff;
    background-color: transparent;
    border: 2px solid rgb(92, 92, 92);
    margin-bottom: 10px;
}
.main-area #num{
    height: 2vw;
    width: 5vw;
    outline: none;
    color: #fff;
    background-color: transparent;
    border: 2px solid rgb(92, 92, 92);
    padding-left: 10px;
    border-radius: 5px;
}
.main-area label{
    font-size: 1.5vw;
}
.main-area button{
    font-size: larger;
    background-color: rgb(24, 199, 24);
    color: #fff;
    height: 3vw;
    width: 25vw;
    outline: none;
    border-radius: 10px;
    border: 2px solid #fff;
    margin-top: 25px;
    cursor: pointer;
}